<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Verterra</name>

  <description>
	This is an application which provides a brief overview of the company, Veterra, focusing on the services it provides.
  </description>

  <author href="https://github.com/megdale/" >
      Meg Dale
  </author>

</widget>